/* ==========================================================================
   VARIABLES & THEME CONFIGURATION
   ========================================================================== */
@import "./themes/everforest-hard.css";
@import "./global.css";
@import "./header-footer.css";
@import "./content.css";
@import "./navbar.css";
@import "./sidenotes-footnotes.css";
@import "./toc.css";

/* ==========================================================================
    RESPONSIVE UTILITIES
   ========================================================================== */

@media (max-width: 640px) {

  body,
  p,
  li {
    font-size: 1rem;
  }
}

/* FIXME: this probably should be done differently*/
section[role="doc-endnotes"] {
  display: none !important;
}
